[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymongo = "*"

[dev-packages]
mongomock = "*"
pytest = "*"
pylint = "*"
black = "*"
ipython = "*"
flask-shell-ipython = "*"

[requires]
python_version = "3.7"
