<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Links</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ url_for('static', filename='tachyons.min.css') }}">
    </head>
    <body class="sans-serif">
        <!-- start navbar -->
        <div class="bb pv1 ph2 b">
            Firefly
        </div>
        <!-- end navbar -->

        <div>
            <div class="fl w-10 pa2">
                <div class="mt2">
                    <input class="w-100" type="text" placeholder="search..." />
                </div>

                <div class="mt3">
                    <ul class="list pl0">
                        <li><a class="link navy underline-hover" href="">Home</a></li>
                        <li class="mt2"><a class="link navy underline-hover" href="">Notes</a></li>
                        <li class="mt2"><a class="link navy underline-hover" href="">Saved</a></li>
                        <li class="mt2"><a class="link navy underline-hover" href="">Watchlist</a></li>
                        <li class="mt2"><a class="link navy underline-hover" href="">Readlist</a></li>
                        <li class="mt2"><a class="link navy underline-hover" href="">Organazize</a></li>
                        <li class="mt2"><a class="link navy underline-hover" href="">Tools</a></li>
                        <li class="mt2"><a class="link navy underline-hover" href="">Extensions</a></li>
                    </ul>
                </div>
            </div>
            <div class="fl w-70 pa2 br bl b--light-gray">
            {% block content %}
            {% endblock %}
            </div>
            <div class="fl w-20 pa2">
            </div>
        </div>
    </body>
</html>
