<div class="pa2">
    {% if page_title %}
        <h4 class="f4 mt0 mb3">{{ page_title }}</h4>
    {% endif %}
    <form method="POST" action="">
        {{ form.hidden_tag() }}

        <table>
            {% for field in form %}
                {% if field.widget.input_type != "hidden" %}
                    <tr>
                        <td>{{ field.label }}</td>
                        <td>
                            {{ field(style="width: 200%;") }}

                            <div class="f7">
                                {{ field.description }}
                            </div>

                            {% if field.errors %}
                                <div class="red">
                                    (Error: {{ field.errors[0] }})
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}

            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td>
                    <input type="submit" value="save">                    
                </td>
            </tr>
        </table>
    </form>
</div>
