{% extends "base.html" %}

{% block content_wrapper %}
    <div class="pa2">
        <form action="" method="post">
            <div class="">
                <input type="text" placeholder="title">
            </div>

            <div class="mt2">
                <input type="text" placeholder="url">
            </div>

            <div class="mt2">
                <input type="text" placeholder="tags">
            </div>

            <div class="mt2">
                <textarea rows="3" placeholder="description..."></textarea>
            </div>

            <div class="mt3">
                <input type="submit" value="create">
            </div>
        </form>
    </div>
{% endblock %}
