{% extends "base.html" %}

{% block content %}
    {% if next_page_num or prev_page_num %}
    <div class="mb3 f6">
        {% if next_page_num %}
            <a class="link dark-blue mr3" href="{{ url_for('links.links', tag=selected_tag, page=next_page_num) }}">older-entries</a>
        {% endif %}

        {% if prev_page_num %}
            <a class="link dark-blue" href="{{ url_for('links.links', tag=selected_tag, page=prev_page_num) }}">newer-entries</a>
        {% endif %}
    </div>
    {% endif %}

    <div class="pv2">
        {% for link in links %}
            <div class="mb4">
                <a class="link dark-blue underline-hover" href="{{ link.url }}" {% if config.open_new_tab %}target="_blank"{% endif %}>
                    {{ link.title }}
                </a>

                {% if config.show_target_domain %}
                    <span class="black-30 f7">({{ link.domain }})</span>
                {% endif %}

                {% if config.show_target_link %}
                    <div class="f7">
                        {% if config.make_target_link_clickable %}
                            <a class="link underline-hover dark-green"
                               href="{{ link.url }}"
                               {% if config.open_new_tab %}target="_blank"{% endif %}>
                                {{ link.url }}
                            </a>
                        {% else %}
                            <span class="dark-green">{{ link.url }}</span>
                        {% endif %}
                    </div>
                {% endif %}

                {% if link.description %}
                <div class="mt1 f6 dark-gray">
                    {{ link.description }}
                </div>
                {% endif %}

                {% if link.tags %}
                <div class="mt1">
                    {% for tag in link.tags %}
                        <span class="mr1 f6">
                            <a class="purple link underline-hover" href="{{ url_for('links.links', tag=tag) }}">{{ tag }}</a>
                        </span>
                    {% endfor %}
                </div>
                {% endif %}

                <div class="mt1 f7">
                    {% if config.show_created_time %}
                        <span title="{{ link.created_at }}" class="mr2 black-40">{{ link.naturaltime }}</span>
                    {% endif %}
                    <a class="link black-40 underline-hover" href="{{ link._id  }}">edit</a>
                    <a class="ml2 link black-40 underline-hover" href="{{ link._id }}">delete</a>
                    {% if config.show_copy_link %}
                        <a class="ml2 link black-40 underline-hover copy-btn"
                           title="Copy this link{% if config.copy_with_title %} along with the title{% endif %} to the clipboard"
                           href="javascript:;"
                           data-clipboard-text="{% if config.copy_with_title %}{{ link.title }} {% endif %}{{ link.url }}">copy</a>

                    {% endif %}
                    {% if config.show_saved_link %}
                        <a class="ml2 link black-40 underline-hover" href="">saved</a>
                    {% endif %}
                    {% if config.show_archived_link %}
                        <a class="ml2 link black-40 underline-hover" href="{{ config.archive_link_format.format(url=link.url) }}" target="_blank">archived</a>
                    {% endif %}
                    {% if config.show_hn_link %}
                        <a class="ml2 link black-40 underline-hover" href="https://hn.algolia.com/?type=all&query={{ link.url }}" target="_blank">hn-threads</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}

{% block footer %}
    <script src="{{ url_for('static', filename='clipboard.min.js') }}"></script>
    <script>
     new ClipboardJS(".copy-btn");
    </script>
{% endblock %}
