{% extends "base.html" %}

{% block content %}
    <div class="pa2 mv-2 f6">
        <a class="link dark-blue" href="">older-entries</a>
    </div>
    <div class="pa2">
        {% for link in links %}
            <div class="mb4">
                <a class="link dark-blue underline-hover" href="{{ link.url }}" {% if config.open_new_tab %}target="_blank"{% endif %}>
                    {{ link.title }}
                </a>

                {% if config.show_target_domain %}
                    <span class="black-30 f7">({{ link.domain }})</span>
                {% endif %}

                {% if config.show_target_link %}
                    <div class="f7">
                        {% if config.make_target_link_clickable %}
                            <a class="link underline-hover purple"
                               href="{{ link.url }}"
                               {% if config.open_new_tab %}target="_blank"{% endif %}>
                                {{ link.url }}
                            </a>
                        {% else %}
                            <span class="black-50"{{ link.url }}</span>
                        {% endif %}
                    </div>
                {% endif %}


                {% if link.description %}
                <div class="mt1 f6 dark-gray">
                    {{ link.description }}
                </div>
                {% endif %}

                {% if link.tags %}
                <div class="mt1">
                    {% for tag in link.tags %}
                        <span class="mr1 f6">
                            <a class="dark-green link underline-hover" href="">{{ tag }}</a>
                        </span>
                    {% endfor %}
                </div>
                {% endif %}

                <div class="mt1 f7">
                    <span class="mr2 black-40">2 hours ago</span>
                    <a class="link black-40 underline-hover" href="">edit</a>
                    <a class="ml2 link black-40 underline-hover" href="">delete</a>
                    {% if config.show_copy_link %}
                        <a class="ml2 link black-40 underline-hover" href="">copy</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
