{% extends "base.html" %}

{% block content %}
    <div class="mb2 mt1 f6">
        <a class="link dark-blue underline-hover" href="{{ url_for('notes.notes_create') }}">
            create
        </a>
    </div>
    <div class="pv2">
        {% if not notes %}
            <div class="red f7">
                Fill what's empty. Empty what's full.
            </div>
        {% endif %}

        {% for note in notes %}
            <div class="mb3">
                <a class="link dark-blue underline-hover" href="{{ url_for('notes.notes_detail', id=note._id) }}">
                    {{ note.title }}
                </a>

                {% if note.description %}
                    <div class="mt1 f6 gray">
                        {{ note.description[:100] }}
                    </div>
                {% endif %}

                {% if note.tags %}
                    <div class="mt1">
                        {% for tag in note.tags %}
                            <span class="mr1 f6">
                                <a class="purple link underline-hover" href="{{ url_for('notes.notes', tag=tag) }}">{{ tag }}</a>
                            </span>
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="mt1 f7">
                    {% if prefs.show_created_time %}
                        <span title="{{ note.created_at }}" class="mr2 black-40">{{ note.naturaltime }}</span>
                    {% endif %}

                    <a class="link black-40 underline-hover" href="{{ url_for('notes.notes_update', id=note['_id'])  }}">edit</a>
                    <a class="ml2 link black-40 underline-hover" href="{{ url_for('notes.notes_delete', id=note._id) }}">delete</a>
                </div>

            </div>
        {% endfor %}
    </div>
{% endblock %}
