{% extends "base.html" %}

{% block content %}
    <div>
        <h4 class="f4 mt1 mb3">UI preferences</h4>

        <form method="POST" action="">
            {{ form.hidden_tag() }}

            {% for field in form %}
                {% if field.widget.input_type != "hidden" %}
                    <div class="mb3">
                        {{ field }}
                        {{ field.label }}

                        {% if field.errors %}
                            <span class="red">
                                (Error: {{ field.errors[0] }})
                            </span>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}

            <div class="mt3">
                <input type="submit" value="save">
            </div>
        </form>
    </div>
{% endblock %}
